html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
}

body {
  height: 100%;
  background-color: #f4f5f5 !important;
  font-size: 16px !important;
  color: #606266 !important;
}

.title {
  font-size: 16px;
  color: #303133;
}

label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  color: #909399;
}

/* Transtion动画 */
.v-enter {
  opacity: 0;
  transform: translateX(100%);
}
.v-leave-to {
  opacity: 0;
  transform: translateX(-100%);
  position: absolute !important;
}
.v-enter-active,
.v-leave-active {
  transition: all 1s ease;
}

.shadow_light {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.shadow_base {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}

/* 修改模态框样式为响应式 */
.el-dialog {
  border-radius: 10px !important;
}
@media screen and (max-width: 990px) {
  .el-dialog {
    width: 90% !important;
  }
}

.e_card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}
